<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar-->
    <section class="sidebar">
        <div id="menu" role="navigation">
            <ul class="navigation">
                <li class="active">
                    <a href="/permissions">
                        <i class="menu-icon fa fa-dashboard"></i>
                        <span class="mm-text ">Permissions</span>
                    </a>
                </li>

                <li class="menu-dropdown">
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span> Dropdown </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="#">
                                <i class="fa-fw fa fa-circle-o"></i> Submenu
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- / .navigation -->
        </div>
        <!-- menu -->
    </section>
    <!-- /.sidebar -->
</aside>